extends layout

block content
  h1= title
  .matchedIndicator
    p.matchedText Not Matched
  .chat
    .container
      .row
        .col-lg-6
          .chatform
            textarea.chatbox(readonly="readonly")
          input.chatinput
          button#send-btn.btn.btn-primary(type="button", onclick="sendTextFromInput()")
            #btn-send.
              Send
        .col-lg-6
          .sendButton
          button#search-btn.btn.btn-primary.btn-lg(type="button", onclick="startSearching()")
            #btn-text.
              Start Searching
          div Total Users = 
            span.totalUsers 0
        #video-source
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  script(src="//static.opentok.com/webrtc/v2.2/js/opentok.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/js/clientsocket.js")
    