extends layout

block content
  h1= title
  .chat
    .container
      .row
        .col-lg-6
          .chatform
            textarea.chatbox
          input.chatinput
        .col-lg-6
          .sendButton
          button.btn.btn-primary.btn-lg(type="button", onclick="startSearching()").
            Start Searching

  
  script(type="text/javascript", src="/js/jquery.min.js")
  script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  script(src="/socket.io/socket.io.js")
  script(type="text/javascript").
    var socket = io.connect('http://192.168.1.226:3000');
    socket.emit('new user connection', 'identifier');
    socket.on('matched', function(data){
      console.log("Found a match to: " + data);
    });
    socket.on('message', function(data){
      console.log("Message: " + data);
      addToChatbox("Partner: " + data);
    });
    socket.on('partner disconnect', function(data){
      console.log('You\'re partner disconnected from SendChat. Search for a new partner.');
    });
    function sendMessage(message){
      addToChatbox("You: " + message);
      socket.emit('message', message);
    };
    function startSearching(){
      socket.emit('search', 'search');
    }
    function addToChatbox(message){
      $('.chatbox').val($('.chatbox').val() + message + "\n");
    }