extends layout

block content
  h1= title
  .matchedIndicator
    p.matchedText Not Matched
  .chat
    .container
      .row
        .col-lg-6
          .chatform
            textarea.chatbox
          input.chatinput
          button#send-btn.btn.btn-primary(type="button", onclick="sendTextFromInput()")
            #btn-send.
              Send
        .col-lg-6
          .sendButton
          button#search-btn.btn.btn-primary.btn-lg(type="button", onclick="startSearching()")
            #btn-text.
              Start Searching
          div Total Users = 
            span.totalUsers 0
  
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  script(src="/socket.io/socket.io.js")
  script(type="text/javascript").
    var pathname = window.location.pathname;
    var socket = io.connect(pathname);
    var searching = false,
      matched = false;
    isMatched(false);
    socket.emit('new user connection', 'identifier');
    socket.on('matched', function(data){
      console.log("Found a match to: " + data);
      isMatched(true);
      stopSearching();
    });
    socket.on('message', function(data){
      console.log("Message: " + data);
      postMessageWithDate(data, 'Partner');
    });
    socket.on('partner disconnect', function(data){
      console.log('You\'re partner disconnected from SendChat. Search for a new partner.');
      isMatched(false);
      stopSearching();
    });
    socket.on('user count', function(data){
      console.log('Total Users: ' + data);
      $('.totalUsers').text(data);
    });
    function sendTextFromInput(){
      sendMessage($('.chatinput')[0].value);
      $('.chatinput')[0].value = "";
    }
    function sendMessage(message){
      postMessageWithDate(message,'You');
      socket.emit('message', message);
    };
    function startSearching(){
      if(!searching){
        if(matched){
          socket.emit('partner disconnect', 'i am searching');
          isMatched(false);
        }
        socket.emit('search', 'start');
        $('#btn-text').text("Stop Searching");
        searching = true;
      }
      else{
        socket.emit('search', 'stop');
        $('#btn-text').text("Start Searching");
        searching = false;
      }
    }
    function stopSearching(){
      socket.emit('search', 'stop');
      console.log("Stopping Search");
      $('#btn-text').text("Start Searching");
      searching = false;
    }
    function addToChatbox(message){
      $('.chatbox').val($('.chatbox').val() + message + "\n");
    }
    function isMatched(matchedToPartner, id){
      if(matchedToPartner){
        matched = true;
        $(".matchedIndicator").css('background-color', 'green');
        $('.matchedText').text("Matched!");
      }else{
        matched = false;
        $(".matchedIndicator").css('background-color', 'red');
        $('.matchedText').text("Not Matched");
      }
    }
    function postMessageWithDate(message, poster){
      var date = new Date();
      var hour = date.getHours();
      var period = hour >= 12 ? 'PM' : 'AM'; // Check AM or PM
      hour = hour > 12 ? hour - 12 : hour;
      var minutes = date.getMinutes() < 10 ? '0' + date.getMinutes().toString() : date.getMinutes().toString();
      var finalMessage = hour + ":" + minutes + " " + period + " - " + poster + ": " + message;
      addToChatbox(finalMessage);
    }