body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea.chatbox{
  width: 500px; 
  height: 446px;
  resize: none;
  overflow: auto;
}

input.chatinput{
  width: 500px;
}

.matchedIndicator{
  height: 20px;
  width: 20px;
  background-color: red;
}

.matchedText{
  margin-left: 30px;
}

.container{
  padding-top: 40px;
}

#main{
  margin-left: 20px;
  float: left;
}

#sidebar{
  float: left;
}

#videobar{
  width:304px;
  height:476px;
  float:left;
  background-color: #3B83FF;
}

.video-source{
  width:284px;
  height: 218px;
  background-color: black;
  margin: 10px 10px;
}